.big{
    font-size: 24px;
}

.under{
    text-decoration: underline;
}

.rt{
    color: red;
}

.bold{
    font-weight: bold;
    font-style: italic;
}

.btn{
    border: 1px solid black;
    padding: 10px;
    margin: 8px;
    background-color: gray;
}